.a {
  text-decoration: none;
}

.wxcard a {
  pointer-events: auto;
}

.wxcard {
  transition: transform 0.3s ease-in-out;
  margin: 25px auto;
  position: relative;
  padding: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 80vw;  
  max-width: 480px;
  height: 144px;
  background-color: #f7f7f7;
  box-shadow: rgba(0, 0, 0, 0.01) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.04) 0px 0px 0px 1px;
  overflow: hidden;
  border-radius: 20px;
  border: 1px solid #f7f7f7;
}

.wxcard:hover {
  cursor: pointer;
  transform: scale(1.03);
  transition: transform 0.3s ease-in-out;
}
.wxcardtitleloading {
  color: #D8D8D8;
}

.h2 {
  color: rgba(0, 0, 0, 0.85);
  font-size: 18px;
  text-overflow: ellipsis;
  margin: 4px -4px;
}
.p {
  color: #696969;
  font-size: 12px;
  text-overflow: ellipsis;
  margin: 5px 2px;
}
.wxcarddescription {

  margin-top: -84px;
  width: 100%;
  word-break: break-all;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
}

.wxcardoverlay {
  display: none;
  position: absolute;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.7);
  z-index: 1;
}

.wxcardoverlayloading {
  display: flex;
}

.wxcardleft {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 80%;
  height: 100%;
  padding: 5px;
}

.wxcardright {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
  height: 100%;
}
.img {
  margin-top: -5px;
  padding: 12px;
  width: 124px;
}

.urls {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.urlsli {
  left: 1000px;
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  
}

.urlsa {
  text-align: left;
  padding: 10px;
  width: 100%;
}
